@import "https://unpkg.com/open-props"; 
@import "https://unpkg.com/open-props/normalize.min.css"; 

.home-body {
  display: flex;
  background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background: var(--surface-1);
  height: 100vh;
  background: linear-gradient(90deg, #C7C5F4, #776BCC);	
}

.hero {
  padding: var(--size-10);
  display: grid;
  gap: var(--size-5);
}

.hero-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-template-columns: max-content;
  color: #ffff;
  margin-left: 0.3em;
  font-size: 5em;
  line-height: var(--font-lineheight-0);
}

.hero-message > div:last-child {
   color: #4C489D;
}

.under-hero {
  color:  #4C489D;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-block-end: var(--size-3);
}

.button-list-home{
  display: flex;
  gap: var(--size-3);
}

.button-list-home button {
  background: white;
  color:  #4C489D;;
  font-size: 20px;
  padding-inline: 3em;
  padding-block: 1em;
  margin-top: 2em;
  margin-left: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  transition: 0.25s;
}
.button-list-home button:hover {
   background: #4C489D;
   color: white;
   font-weight: bolder;
   transform: scale(1.05);
}



.promo-art {
  align-self: stretch;
}

.promo-art > img {
  block-size: 100%;
  object-fit: cover;	
}