.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  
      color: #776BCC;

  z-index: 1000;
  /* background-color: #6d57be;  */
  color: white;
  
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
  /* align-items: center; */
  padding: 12px 24px;
  /* padding-left: 10%; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #776BCC;
  
}

.nav-label {
  color: #776BCC;
  padding: 8px 14px;
  font-weight: bold;
  pointer-events: none;
}


.navbar-links {
  display: flex;
  gap: 16px;
  color: #776BCC;

}

.navbar-links a {
  text-decoration: none;
  color: black;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: bold;

}


.navbar-links a:hover {
  background-color: #a5a5a5;
}


.staffportal{
text-decoration: none;
color: black;
padding: 8px 14px;
border-radius: 4px;
font-weight: bold;
color: #776BCC;

}

.logout-link{
  background-color: white;
}