.navbar {
<<<<<<< HEAD
  position: fixed;
  top: 0;
  width: 100%;
  
      color: #776BCC;
=======
    top: 0;
    width: 100%;
    
    background-color: #6d57be; 
    color: white;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25em;
    padding: 12px 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white
  } 
  
  .navbar-links {
    display: flex;
    gap: 16px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    padding: 8px 14px;
    border-radius: 4px;
    font-weight: bold;
>>>>>>> 596db710f1b441dc2431cfa5cbc6b852a752996c

  z-index: 1000;
  /* background-color: #6d57be;  */
  color: white;
  
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
  /* align-items: center; */
  padding: 12px 24px;
  /* padding-left: 10%; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #776BCC;
  
<<<<<<< HEAD
}

.nav-label {
  color: #776BCC;
  padding: 8px 14px;
  font-weight: bold;
  pointer-events: none;
}


.navbar-links {
  display: flex;
  gap: 16px;
  color: #776BCC;

}

.navbar-links a {
  text-decoration: none;
  color: black;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: bold;

}


.navbar-links a:hover {
  background-color: #a5a5a5;
}


.staffportal{
text-decoration: none;
color: black;
padding: 8px 14px;
border-radius: 4px;
font-weight: bold;
color: #776BCC;

}

.logout-link{
  background-color: white;
}
=======
  .navbar-links a:hover {
    background-color: #a5a5a5;
  } 
  
>>>>>>> 596db710f1b441dc2431cfa5cbc6b852a752996c
